@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@500&family=Tilt+Warp&display=swap');


*, *::before, *::after {
  box-sizing: border-box;
  user-select: none;
}

body {
  background-image: url("./imgs/back.png");
  background-repeat: no-repeat;
  background-size: cover ;
  font-family: 'Bebas Neue', cursive;
  color: #ffffff;
  margin: 0;
  align-items:flex-end ;
  min-height: 100vh;
  display: flex;
}

.world {
  overflow: hidden;
  position: relative;
  bottom: 0px;
}
 
.score {
  position: absolute;
  font-size: 8vmin;
  right: 1vmin;
  top: 1vmin;
}

.start-screen {
  position: absolute;
  font-size: 5vmin;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.hide {
  display: none;
}


.ground {
  --left: 0;
  position: absolute;
  width: 300%;
  bottom: 0;
  left: calc(var(--left) * 1%) 
}


.dino {
  --bottom: 15;
  position: absolute;
  left: 1%;
  height: 15%;
  bottom: calc(var(--bottom) * 1%);
}


.cactus {
  position: absolute;
  left: calc(var(--left) * 1%);
  height: 25%;
  bottom: calc(10 * 1%);
}


.social_media_block{
  height: 60px;
  width: 125px;
  background-color: aqua;
  position: absolute;
  top: 0;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 15px;
  display: flex;
  backdrop-filter: blur(25px) saturate(100%);
  -webkit-backdrop-filter: blur(25px) saturate(200%);
  background-color: rgba(173, 173, 173, 0.58);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  align-items: center;
  justify-content: space-around;
}


.image {
  height: 40px;
  width: 40px;
}


.social_media{
  margin-left: 10px;
  margin-right: 10px;
}
